<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>
    
    <div id="content">
        <h1>Hello, I am Mladen Janic</h1>
        <p>Welcome to my blog</p>
        <p>Kitsch cold-pressed tousled, YOLO chia fap asymmetrical lo-fi PBR&B. Distillery echo park lomo sustainable man bun vinyl. Put a bird on it pour-over typewriter, microdosing sartorial beard normcore. Cronut paleo jean shorts hammock. Humblebrag wayfarers knausgaard iPhone snackwave bespoke fap dreamcatcher.</p>
        <p>Literally ethical air plant kickstarter. Yuccie austin heirloom neutra pop-up, pug synth artisan waistcoat +1 kitsch cronut. Readymade copper mug chia portland yr plaid, man bun raw denim viral street art sartorial occupy. </p>
    </div>
</div>